#map{
    background-color: aliceblue;
    height: 92%;
    width: 73%;
    bottom: 0;
    right: 0;
    position: absolute;
    
    z-index: 3;
}
#busqueda{
    position: absolute;
    height: 30%;
    width: 17%;
    align-content: center;
    left: 2%;
}
#result{
    background-color:#262732;
    width: 20%;
    height: 57%;
    left: 2%;
    bottom:0;
    position: absolute;
    color: white;
    text-align: center;
    overflow-y: scroll;
    width: 300px;
    scrollbar-color: #e44c65 #1c1d26;
    scrollbar-width: 10px;
}
#consultar{
    position: absolute;
    left: 2%;
    top: 80%;

}
#demo{
    position: absolute;
    top: 60%;
    left: 2%;
}
#ra{
    position: absolute;
    left: 2%;
    top:30%;
    font-size: 15pt;
}
#consulta{
    position: relative;
    text-align: left;
    top: 0%;
    left: 2%;
    border-color: whitesmoke;
    font-size: 250%;
}
#texto{
    color:black;
}
#r{
    position: absolute;
    background-color: white;
    width: 50%;
    color: black;
    left: 2%;
    top:40%;
}

